
3-2020_XenAppBlog Virtual Expo/Mike Nelson – Kicking the Tires of Azure Arc (720p with 30fps).mp4
2023/2023-Mar_SouthFlorida_VMUG_UserCon/azarc-vcenter-1.mp4
2022/2022-August_VMWare Explore VMTN/Learn PowerShell by Building a Cool Alarm Clock/demo.mp4
2022/2022-August_VMWare Explore VMTN/Learn Azure Cloud Shell in 12 minutes/cs-interfaces.mp4
2022/2022-Sept_India UserCon Virtual/vmug-india-uc-v3.mp4
